@import '../styles/variables.css';

.mainNav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainNav li {
  border-right: 1px solid transparent;
  padding: 0;
  text-align: center;
}

.mainNav li:last-child {
  border: 0;
}

.mainNav a,
.mainNav strong {
  background: color-mod(var(--primary3Color) alpha(var(--opacity10)));
  border-radius: 5px 5px 0 0;
  color: color-mod(var(--primary2Color) alpha(var(--opacity25)));
  display: block;
  font-weight: bold;
  padding: 1em 0;
  text-decoration: none;
}

.mainNav strong {
  background: var(--alternate3Color);
  border-bottom: 0;
  color: var(--accent1Color);
}
